{% extends 'header.html'%}
{% block title %}Blockchain{%endblock%}

{%block content%}
<div class="container">
{% for i in range(0,length)%}
  <div class="jumbotron">
    <table id="customers" class="table table-bordered table-sm table-secondary">
      <tr>
        <th>S.No.</th>
        <td>{{i+1}}</td>
      </tr>
      <tr>
        <th>Current Hash</th>
        <td>{{blockchain[i].Hash}}</td>
      
      </tr>
      <tr>
        <th>Previous Hash</th>
        <td>{{blockchain[i].previousHash}}</td>
      </tr>
      <tr>
        <th>Timestamp</th>
        <td>{{blockchain[i].timeStamp}}</td>
      </tr>
      <tr>
        <th>Nonce</th>
        <td>{{blockchain[i].nonce}}</td>
      </tr>
      <tr>
        <th>MerkelRoot</th>
        <td>{{blockchain[i].merkleRoot}}</td>
      </tr>
      <tr>
        <th>Transactions</th>
        <td> {{blockchain[i].transactions|length}} <a href="/blockchain/{{i}}">(See transactions)</a></td>
      </tr>
    </table>
  </div>
  {% endfor %}
</div>


{%endblock%}